<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/layout_shared_profile">
<head>
	<title>.:: ad-extreme ::. - user</title>
	<style>
		img.col-sm-3{

		}
	</style>
</head>
<th:block layout:fragment="conteudo">

	<div>
	<th:block>
		<div align="center" class="row">
			<h2 class="col-sm-9" th:text="${anuncio.titulo}"></h2>
		</div>
		<div align="center" class="row">
			<img class="col-sm-3" th:src="@{/img/surpresa.jpg}" alt="Imagem do produto" height="200" width="200" />
		</div>
	</th:block>
	</div>

	<div>
		<th:block>
			<ul align="center" style="list-style-type: none;">
					<li>DETALHES</li>
					<li th:text="${'Tipo: ' + anuncio.tipo}"></li>
					<li th:text="${'Categoria: ' + anuncio.categoria}"></li>
					<li th:text="${'Data: ' + anuncio.dataDeCriacao}"></li>
					<li th:text="${'R$ ' + #numbers.formatDecimal(anuncio.preco, 0, 'COMMA', 2, 'POINT')}">0.00</li>
					<li><a align="center" th:if="${!pertence}" class="btn btn-success" th:href="@{'comprar'(id=${anuncio.id})}">Comprar</a></li>
			</ul>
		</th:block>
	</div>
	<div class="row">
		<ul align="left" style="list-style-type: none;">
			<li class="col-sm-4" th:text="${'Nome do anunciante: ' + anuncio.criador.nome}"></li>
			<li class="col-sm-4" th:text="${'Email do anunciante: ' + anuncio.criador.email}"></li>
		</ul>
	</div>

</th:block>
</html>