<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/layout_shared_profile">
<head>
    <title>.:: ad-extreme ::. - user</title>
</head>
<th:block layout:fragment="conteudo">
    <div class="col-md-offset-2 col-md-8">
		<h1>Anúncios</h1>
        <form class="form-inline"  method="get" th:action="@{buscar}">
         	  	<!-- Form Name -->
	          	<h4>Buscar anúncio</h4>
	
	    		<!-- Button -->
	            <div class="dropdown">
	               <button class="btn pull-right btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Ordenar
	               <span class="caret"></span></button>
	               <ul class="dropdown-menu dropdown-menu-right">
	                 <li><a href="sort?tipo=0">Mais novos</a></li>
	                 <li><a href="sort?tipo=1">Mais baratos</a></li>
	                 <li><a href="sort?tipo=2">Mais caros</a></li>
	               </ul>
	            </div>
                <!-- Text input -->
   			    <div class="form-group">
     			      <label for="chave">Termo:</label>
      			    <input type="text" class="form-control" id="chave" name="chave" placeholder="digite um termo de busca"/>
    		    </div>
    		    <!-- Checkbox (Double)-->
    		    <div class="checkbox">
    		        <label>em:</label>
     			      <label><input type="checkbox" name="nome"/> Nome do anúncio</label>
     			      <label><input type="checkbox" name="categoria"/>Categoria-tag</label>
    		    </div>
             <div class="form-group">
                 <button type="submit" class="btn btn-success">Buscar</button>
             </div>
        </form>

        <div th:if="${anuncios != null}"  class="table-responsive">

            <table style="width:100%" class="table table-hover">
                <tr>
                    <th>Titulo</th>
                    <th>Tipo</th>
                    <th>Categoria-tag</th>
                    <th>Postado</th>
                    <th align="right">Preço</th>
                    <th></th>
                </tr>

                <th:block th:each="item : ${anuncios}">
                    <tr>
                        <td><a th:text="${item.titulo}" th:href="@{'detalhes'(id=${item.id})}"></a></td>
                        <td th:text="${#strings.toUpperCase(item.tipo)}"> - </td>
                        <td th:text="${item.categoria}"></td>
                        <td th:text="${item.dataDeCriacao}"> - </td>
                        <td align="center" th:text="${'R$ ' + #numbers.formatDecimal(item.preco, 0, 'COMMA', 2, 'POINT')}">0.00</td>
                    	<td><a  class="btn btn-info" th:href="@{'detalhes'(id=${item.id})}">Detalhes</a></td>
                    </tr>
                </th:block>
            </table>
        </div>
        <!-- Text input-->
        <div th:if="${anuncios.isEmpty()}">
            <h4>Nenhum Anúncio listado</h4>
        </div>
    </div>
</th:block>
</html>
